<form id="register-form" ng-submit="vm.register()" method="post" role="form">
  <div class="form-group">
    <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="E-mail cím" ng-model="vm.registerForm.email" value="">
  </div>
  <div class="form-group">
    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Jelszó" ng-model="vm.registerForm.password">
  </div>
  <div class="form-group">
    <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Jelszó mégegyszer" ng-model="vm.registerForm.confirmPassword">
  </div>
  <div class="form-group">
    <div class="btn-group">
      <label class="btn btn-default">Személy
        <input name="registerType" ng-model="vm.registerForm.type" type="radio" value="PERSON">
      </label>
      <label class="btn btn-default">Bolt
        <input name="registerType" ng-model="vm.registerForm.type" type="radio" value="SHOP">
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Regisztráció">
      </div>
    </div>
  </div>
</form>
